.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap) * 2);

  .loader-wheel {
    animation: loader-animation 150ms steps(30) infinite;
    aspect-ratio: 1;
    border-color: var(--loader-border-1) var(--loader-border-1)
      var(--loader-border-2) var(--loader-border-2);
    border-radius: 50%;
    border-style: solid;
    border-width: 0.7em;
    box-shadow: 0 0 4px hwb(var(--shadow) / 0.25);
    inline-size: 4em;
  }

  .loader-text {
    font-size: calc(var(--base-fs) * 1.5);
    font-weight: var(--fw-semi);
    letter-spacing: 0.5px;
    text-indent: var(--base-margin);
  }
}

@keyframes loader-animation {
  to {
    rotate: z 360deg;
  }
}
