:root {
  --base-fs: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-br: 20px;
  --base-gap: 0.5rem;
  --base-lh: 1.5;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: calc(var(--fw-regular, 400) + 100);
  --fw-semi: calc(var(--fw-medium, 500) + 100);
  --fw-bold: calc(var(--fw-semi, 600) + 100);
  --fw-xbold: calc(var(--fw-bold, 700) + 100);
  --fw-black: calc(var(--fw-xbold, 800) + 100);

  /* Font Stacks */
  --fs-vela-sans: "Vela Sans", sans-serif, arial;

  /* Colors */
  --dark-green: hwb(106 23% 78%);
  --green: hwb(126 38% 40%);
  --light-green: hwb(100 60% 25%);
  --lightest-green: hwb(69 84% 5%);
  --shadow: 106 0% 100%;
  --white: 0 100% 0%;

  /* Scrollbar */
  --scrollbar-thumb-bg: var(--light-green);

  --body-bg: var(--lightest-green);
  --body-bg-img: linear-gradient(
    to bottom,
    var(--lightest-green),
    var(--light-green)
  );
  --heading-color: var(--dark-green);
  --text-color: var(--green);
  --link-color: var(--dark-green);
  --classes-container-bg: var(--light-green);
  --subjects-navigation-bg: var(--light-green);
  --subject-hover-bg: var(--lightest-green);

  /* Table */
  --table-container-bg: var(--lightest-green);
  --table-border: hwb(100 40% 50% / 0.25);
  --table-row-bg: var(--light-green);

  /* Loader */
  --loader-border-1: var(--dark-green);
  --loader-border-2: var(--light-green);

  /* Modal */
  --modal-bg: var(--lightest-green);
  --modal-close-icon: var(--lightest-green);

  /* Student Form */
  --student-form-bg: var(--lightest-green);

  @media (prefers-color-scheme: dark) {
    --body-bg: var(--dark-green);
    --body-bg-img: linear-gradient(
      to bottom right,
      var(--dark-green),
      var(--green)
    );
    --heading-color: var(--lightest-green);
    --text-color: var(--light-green);
    --link-color: var(--lightest-green);
    --classes-container-bg: var(--dark-green);
    --subjects-navigation-bg: var(--dark-green);
    --subject-hover-bg: var(--green);

    /* Table */
    --table-container-bg: var(--dark-green);
    --table-row-bg: var(--green);

    /* Loader */
    --loader-border-1: var(--green);
    --loader-border-2: var(--lightest-green);

    /* Modal */
    --modal-bg: var(--dark-green);

    /* Student Form */
    --student-form-bg: var(--dark-green);
  }
}
