.classes-wrapper {
  display: grid;
  min-block-size: 100vh;
  place-items: center;
  position: relative;
}

.add-student-wrapper {
  inset-block-start: 1em;
  position: absolute;
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: calc(var(--base-padding) * 2);
}

.classes-container {
  background-color: var(--classes-container-bg);
  border-radius: calc(var(--base-br) * 0.2);
  box-shadow: 0 5px 10px hwb(var(--shadow) / 0.2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap) * 4);
  inline-size: min(80vw, 480px);
  padding: calc(var(--base-padding) * 2);

  & h1 {
    font-size: calc(var(--base-fs) * 2.25);
    text-align: center;
    text-decoration: underline 0.1em solid currentcolor;
    text-underline-offset: 0.1em;
  }
}

.classes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap) * 0.5) 0;

  & > .btn-link {
    border-radius: calc(var(--base-br) * 2);
    font-size: calc(var(--base-fs) * 1.1);
    padding-block: var(--base-padding);
  }
}

/* Modal */
.student-form-wrapper {
  z-index: 2;
  background-color: var(--student-form-bg);
  padding: calc(var(--base-padding) * 3);
  border-radius: calc(var(--base-br) * 0.25);
  inline-size: min(480px, 80vw);

  .form-group {
    display: flex;
    flex-direction: column;
    margin-block-end: calc(var(--base-margin) * 4);

    & :where(input, select) {
      font-family: inherit;
      font-size: inherit;
      padding: var(--base-padding);
    }
  }
}
