.table-container {
  background-color: var(--table-container-bg);
  border-radius: calc(var(--base-br) * 0.2);
  box-shadow: 0 0 5px hwb(var(--shadow) / 0.15);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap) * 4);
  align-items: center;
  inline-size: min(90vw, 640px);
  max-block-size: 30em;
  overflow-y: auto;
  padding: calc(var(--base-padding) * 3);
  scrollbar-color: var(--scrollbar-thumb-bg) transparent;
  scrollbar-width: thin;
}

/* Loader Styling */
.class-wrapper {
  > .loader-container {
    block-size: 100vh;
    display: grid;
    place-items: center;
  }

  .class-content-wrapper {
    align-content: start;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    min-block-size: 100vh;
    position: relative;

    @media screen and (width > 62em) {
      grid-template-columns: 1fr 4fr;
      grid-template-rows: auto;

      .subjects-navigation-wrapper {
        block-size: 100vh;

        & h1 {
          display: block;
        }
      }
    }
  }
}

/* Test Table Delete Modal */
.test-delete-modal-container {
  .modal {
    z-index: 2;
    background-color: var(--modal-bg);
    padding: calc(var(--base-padding) * 2.5) calc(var(--base-padding) * 3);
    border-radius: calc(var(--base-br) * 0.2);

    & p {
      font-size: calc(var(--base-fs) * 1.2);
      font-weight: var(--fw-medium);
    }

    .buttons {
      margin-block-start: calc(var(--base-margin) * 4);
      display: flex;
      justify-content: flex-end;
      gap: calc(var(--base-gap) * 2);
    }
  }
}

/* Test Modal */
.test-modal {
  position: relative;
  z-index: 1;

  .table-container {
    padding-inline: calc(var(--base-padding) * 2);
    max-block-size: 85vh;

    & tbody input {
      font-family: inherit;
      font-size: inherit;
      padding: calc(var(--base-padding) * 0.25) var(--base-padding);
      max-inline-size: 4em;
    }
  }

  & table tr:hover {
    background-color: initial;
  }

  .table-info {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-gap) * 3);
  }

  .table-input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base-gap) * 3);

    .form-group {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      & :where(input, select) {
        max-inline-size: 200px;
        font-family: inherit;
        font-size: inherit;
        padding: var(--base-padding) calc(var(--base-padding) * 0.75);
      }
    }
  }

  .create-test-btn {
    align-self: flex-end;
  }
}

/* Subjects Tabs */
.subjects-navigation-wrapper {
  background-color: var(--subjects-navigation-bg);
  padding-block: calc(var(--base-padding) * 2);
  padding-inline: var(--base-padding);
  position: sticky;
  top: 0;
  z-index: 1;

  & h1 {
    display: none;
    margin-block: var(--base-margin) calc(var(--base-margin) * 2);
    text-align: center;
    text-decoration: underline 0.12em solid currentcolor;
    text-underline-offset: 0.1em;
    font-size: calc(var(--base-fs) * 1.75);
  }
}

/* Tables */
.tables-wrapper {
  position: relative;
  padding: calc(var(--base-padding) * 2);

  .page-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--base-gap) * 3);

    & h2 {
      text-decoration: underline 0.12em solid currentcolor;
      text-underline-offset: 0.1em;
      text-align: center;
      font-size: calc(var(--base-fs) * 2.25);
    }
  }
}

.tables {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-gap) * 8);
  align-items: center;
  justify-content: center;
  margin-block-start: calc(var(--base-margin) * 10);
  margin-block-end: calc(var(--base-margin) * 4);

  .table-container {
    max-block-size: 35em;
  }

  .table-info {
    inline-size: 100%;
    display: flex;
    gap: calc(var(--base-gap) * 2);
    justify-content: space-between;
    align-items: center;

    & > p {
      font-size: calc(var(--base-fs) * 1.15);
      font-weight: var(--fw-medium);
    }
  }

  .table-delete-btn {
    align-self: flex-end;
  }
}
