@font-face {
  font-family: "Vela Sans";
  font-style: none;
  font-weight: 400 900;
  src: url("/fonts/VelaSans.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 75%;

  @media screen and (width > 30em) {
    font-size: 87.5%;
  }

  @media screen and (width > 48em) {
    font-size: 100%;
  }

  @media screen and (width > 79.9375em) {
    font-size: 112.5%;
  }

  @media screen and (width > 120em) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body,
html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-color: var(--body-bg);
  background-image: var(--body-bg-img);
  font-family: var(--fs-vela-sans);
  font-size: var(--base-fs);
  font-weight: var(--fw-regular);
  line-height: var(--base-lh);
}
